:root {
    --primary: #2f66ad;
    --light: whitesmoke;
    --dark: #202020;
    --link: #1528d9;
    --link-hover: #1285f1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: "Inter", sans-serif;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Navbar */
.navbar {
    padding: 1rem 2rem;
    background-color: var(--light);
    color: var(--dark);
}

.logo {
    height: 5rem;
}

.header-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items {
    display: flex;
}

.nav-link {
    padding: 0.5rem 1rem;
    font-weight: 500;
    transition: 0.4s;
    color: var(--dark);
}

.nav-link:hover {
    color: var(--link-hover);

}

/* Main Banner */